composer.phar
composer.lock
*.log
.DS_Store
.env
.env.backup
.env.production
.php-cs-fixer.cache
.phpunit.result.cache
/.vscode
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
Thumbs.db
herd.yml